spring:
  cloud:
    config:
      override-system-properties: false
  output:
    ansi:
      enabled: ALWAYS

eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URI:http://localhost:8761/eureka/}

management:
  tracing:
    sampling:
      probability: 1.0
